$font-family: "Poppins", sans-serif;

$color-primary: #04c75b;
$color-primary-dark: #03a64b;
$color-secondary: #4285f4;

$color-text-dark: #202020;
$color-text-medium: #555555;
$color-text-light: #f0f0f0;
$color-text-white: #ffffff;

$color-bg-light-gray: #f7f9fb;
$color-bg-dark: #192231;
$color-bg-white: #ffffff;

$color-border: #eaeaea;
$color-star: #ffc107;

$bp-large: 1200px;
$bp-medium: 992px;
$bp-small: 768px;
